/* ================= HEADER ================= */
body {
  background-color: var(--color-bg-body);
}

/* ================= COVER ================= */
.cover-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  background: url(./assets/img/cover3.jpg) no-repeat;
  background-size: cover;

  text-shadow:
    -2px 0 0 var(--color-text-main),
    2px 0 0 var(--color-text-main),
    0 -2px 0 var(--color-text-main),
    0 2px 0 var(--color-text-main),
    -2px -2px 0 var(--color-text-main),
    2px -2px 0 var(--color-text-main),
    -2px 2px 0 var(--color-text-main),
    2px 2px 0 var(--color-text-main);
}

.cover-title-box {
  width: 100%;
  position: relative;
}
.shape-box {
  width: 100%;
  aspect-ratio: 1/1;
  top: -350px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.cover-title {
  font-size: 2.2rem;
  color: var(--color-bg-body);
  line-height: 1.4;
  font-family: "mul";
  margin-bottom: 10px;
}

.cover-desc {
  font-size: 1rem;
  color: var(--color-bg-card);
  line-height: 1.6;
  margin-bottom: 1rem;
}
.cover-desc-sub {
  color: var(--color-bg-soft2);
  white-space: pre-line;
  margin-bottom: 20px;
}
.fire-text {
  color: var(--color-fire);
}

.cover-start-btn {
  border-radius: 50px;

  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: var(--color-primary);
  transition: all 0.2s ease;
  text-shadow:
    -2px 0 0 var(--color-text-main),
    2px 0 0 var(--color-text-main),
    0 -2px 0 var(--color-text-main),
    0 2px 0 var(--color-text-main),
    -2px -2px 0 var(--color-text-main),
    2px -2px 0 var(--color-text-main),
    -2px 2px 0 var(--color-text-main),
    2px 2px 0 var(--color-text-main);
}

.cover-start-btn:hover {
  background: var(--color-primary-trans);
  border: 1.5px solid var(--color-primary);
  transform: translateY(-2px);
}

.cover-start-btn:active {
  transform: translateY(0);
}

/* ================= QUIZ ================= */
.quiz-container {
  height: calc(100vh - 60px);
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.step-count {
  display: inline-block;
  color: var(--color-primary);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background: var(--color-text-main);
  font-size: 0.8rem;
}

.question-title {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: var(--color-text-main);
}

.answer-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-btn {
  font-size: 0.9rem;
  padding: 1rem;
  border: 1.5px solid var(--color-border);
  border-radius: 15px;
  background: var(--color-bg-card);
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  line-height: 1.8;
  color: var(--color-text-sub);
  opacity: 0;
  transform: translateY(12px);
  animation: fadeUp 0.4s ease forwards;
}

.answer-btn:nth-of-type(1) {
  animation-delay: 0.05s;
}
.answer-btn:nth-of-type(2) {
  animation-delay: 0.1s;
}
.answer-btn:nth-of-type(3) {
  animation-delay: 0.15s;
}
.answer-btn:nth-of-type(4) {
  animation-delay: 0.2s;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.answer-btn.selected {
  border: 1.5px solid var(--color-primary);
  background: var(--color-primary-light);
  transform: translateY(-2px);
  font-weight: 600;
  color: var(--color-primary-800);
}

.answer-btn:hover {
  background: var(--color-bg-soft);
  border-color: var(--color-primary);
  color: var(--color-text-main);
}

.btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.quiz-prev-btn,
.quiz-next-btn {
  display: block;
  padding: 1rem 1.5rem;
  background: var(--color-bg-card);
  border-radius: 15px;
  color: var(--color-text-main);
}

.progress-bar-bg {
  margin-bottom: 2rem;
  background: var(--color-border-soft);
  height: 5px;
  border-radius: 5px;
}

.progress-bar-fill {
  background: var(--color-primary);
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

/* ================= RESULT ================= */
.result-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem 1.5rem 2rem;
}

.result-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-text-main);
}

.result-sub {
  font-size: 0.95rem;
  color: var(--color-text-muted);
  margin-bottom: 2rem;
  text-align: center;
}

.result-card {
  background: var(--color-bg-card);
  border-radius: 20px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow-md);
  transition: 0.3s ease;
}

.result-card:hover {
  transform: translateY(-5px);
}
.result-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.result-label {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-text-main);
  text-align: center;
  white-space: pre-line;
}

.result-one {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--color-text-sub);
  text-align: center;
  white-space: pre-line;
  position: relative;
}
.result-one::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-bg-soft);
}

.result-desc {
  font-size: 0.8rem;
  line-height: 1.65;
  color: var(--color-text-sub);
  margin: 2.5rem 0 1.1rem;
  text-align: justify;
  white-space: pre-line;
}
.result-style-box {
  text-align: start;
  margin-bottom: 10px;
  background: var(--color-primary-50);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  border: 1.5px solid var(--color-primary);
}
.style-label {
  padding-bottom: 0.4rem;
}
.result-style-list {
  text-align: left;
  font-size: 0.8rem;
  color: var(--color-text-sub);
}
.result-style-item {
  line-height: 1.7;
  font-size: 0.8rem;
  list-style: disc;
  margin-left: 1rem;
}

.match-section {
  margin-top: 3rem;
  position: relative;
}
.match-section::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-bg-soft);
}
.match-card {
  font-weight: 500;
}
.match-card.best {
  margin-bottom: 1rem;
}

.match-card-img {
  width: 30%;
  border-radius: 15px;
}
.match-box {
  display: flex;
  align-items: center;
}
.match-desc-box {
  margin-left: 1rem;
}
.match-desc-top {
  display: flex;
  align-items: center;
}

.match-card-title.best {
  color: var(--color-wood);
}

.match-card-title.worst {
  color: var(--color-fire);
}
.match-card-title-input {
  font-size: 0.85rem;
}
.match-desc {
  font-size: 0.8rem;
}
.result-style {
  font-size: 0.8rem;
  color: var(--color-text-sub);
  text-align: justify;
}
.result-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1.5rem;
}
.result-tag {
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  font-size: 0.75rem;
  white-space: nowrap;
  background: var(--color-primary-50);
  color: var(--color-primary-hover);
  border: 1.5px solid var(--color-primary);
}
.score-box {
  margin-right: auto;
}
.score-box-title {
  font-weight: 700;
  margin-bottom: 1rem;
}
.score-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}

.score-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}
.bar {
  display: block;
  width: 100%;
  height: 7px;
  position: relative;
  border-radius: 0 10px 10px 0;
}
.style-wood {
  background: var(--color-wood);
}
.style-fire {
  background: var(--color-fire);
}
.style-earth {
  background: var(--color-earth);
}
.style-metal {
  background: var(--color-metal);
}
.style-water {
  background: var(--color-water);
}
.score-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.last-btns-box {
  display: flex;
  gap: 20px;
}
.last-btn {
  width: 100%;
  display: block;
  margin: 0 auto;
  background: var(--color-bg-card);
  color: var(--color-text-muted);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  font-weight: 600;
}
.last-btn.share {
  background: var(--color-primary);
  color: var(--color-text-main);
}
.all-results {
  width: 100%;
  padding: 10px;
  background: var(--color-bg-soft);
  border-radius: 20px;
  margin-top: 1rem;
}

.last-btn.all {
  margin-top: 1rem;
}
.all-results-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.all-results-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: 1.5px solid var(--color-bg-body);

  border-radius: 15px;
}
.all-results-thumb {
  flex: 0 0 calc(20% - 0.5rem);
  padding: 10px;
}
.all-img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.all-results-text {
  flex: 0 0 calc(80% - 0.5rem);
  font-size: 0.8rem;
  color: var(--color-text-sub);
}
.all-results-one {
  white-space: pre-line;
  color: var(--color-text-muted);
}

/* ================= FOOTER ================= */
.footer {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-text-main);
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer p {
  font-size: 0.7rem;
  color: var(--color-text-muted);
}

.link {
  margin-top: 5px;
  color: var(--color-text-sub);
  font-size: 0.7rem;
  text-decoration: underline;
}

.link:hover {
  color: var(--color-primary);
}
